# 변수와 식
## 1. 변수

In [1]:
# 변수 : 데이터나 처리 결과를 기억하기 위한 구조
# 변수명 = 값

In [2]:
sale = 10

In [3]:
print(sale)

10

In [4]:
print("매출액은", sale, "만원 입니다.")

매출액은 10 만원 입니다.

In [5]:
sale = 20

In [6]:
print("매출액은", sale, "만원 입니다.")

매출액은 20 만원 입니다.

In [7]:
name = "서울"
sale = 10
print(name, "지점의 판매액은", sale, "만원입니다.")

서울 지점의 판매액은 10 만원입니다.

## 2. 연산

In [8]:
1+2

3

In [9]:
print("1+2는", 1+2, "입니다.")

1+2는 3 입니다.

In [10]:
price = 50
num = 10
total = price * num
print("단가는", price, "원입니다.")
print("판매 개수는", num, "개입니다.")
print("합계 금액은", total, "원입니다.")

total = total - 100
print("할인하면", total, "원입니다.")

단가는 50 원입니다.
판매 개수는 10 개입니다.
합계 금액은 500 원입니다.
할인하면 400 원입니다.

## 3. 연산자

In [11]:
num1 = 10
num2 = 5
print("num1 + num2 = ", num1+num2)
print("num1 - num2 = ", num1-num2)
print("num1 * num2 = ", num1*num2)
print("num1 / num2 = ", num1/num2)
print("num1 % num2 = ", num1%num2)

num1 + num2 =  15
num1 - num2 =  5
num1 * num2 =  50
num1 / num2 =  2.0
num1 % num2 =  0

In [12]:
a = 1
b = 2
a += 3    # a = a+3
a

4

In [13]:
a -= b
print(a)

2

## 4. 우선순위

In [14]:
c = 1
c+2*5
c

1

In [15]:
(a+b)*c

4

## 5. 입력

In [17]:
# 변수 = input("화면에 표시할 메시지")
n = input("잠깐 멈춤! 값을 입력하세요")
print(n, "이(가) 입력되었습니다.")

잠깐 멈춤! 값을 입력하세요안녕
안녕 이(가) 입력되었습니다.

In [18]:
# input은 문자열 형태
num1 = input("숫자1을 입력하세요")
num2 = input("숫자2를 입력하세요")
num3 = num1 + num2
print(num1, "+", num2, "은(는)", num3, "입니다.")

숫자1을 입력하세요1
숫자2를 입력하세요2
1 + 2 은(는) 12 입니다.

In [19]:
# 정수입력
num1 = int(input("정수1을 입력하세요."))
num2 = int(input("정수2를 입력하세요."))
num3 = num1 + num2
print(num1, "+", num2, "은(는)", num3, "입니다.")

정수1을 입력하세요.1
정수2를 입력하세요.2
1 + 2 은(는) 3 입니다.

In [20]:
age = int(input("당신은 몇 살입니까?"))
print("당신은",age,"살입니다.")

당신은 몇 살입니까?12
당신은 12 살입니다.

In [22]:
height = float(input("키를 입력하세요."))
weight = float(input("체중을 입력하세요."))
print("키는", height, "cm입니다.")
print("몸무게는", weight, "kg입니다.")

키를 입력하세요.188
체중을 입력하세요.88
키는 188.0 cm입니다.
몸무게는 88.0 kg입니다.